.margins {
    margin-bottom: 12px;
}
.inner-screen {
    color: #246ade !important;
    text-decoration: underline !important;
    cursor: pointer;
}
.newMarginClass {
    margin-top: 7px!important;
}
.disabled {
    pointer-events: none;
    cursor: default;
 }