<!--This page is used to add or edit leads-->
<button class="close" style ="background-color: white !important;" [mat-dialog-close]="true"><mat-icon>close</mat-icon></button>
<h1 mat-dialog-title><span>National Safety Code Certificate</span></h1>
<hr>
<div mat-dialog-content>
    <img src="../../../../assets/img/nsc.jpg" style="width: 100%;">
    <mat-dialog-actions align="end" style="float:right">
        <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Close</button>
    </mat-dialog-actions>
</div>