<!--This page is used to manage permissions to each user-->
<div fxLayout="row wrap">
        <div class="table-responsive flex-p">
            <button type="button" class="btn btn-success" style="margin-top: 10px;margin-bottom: 15px;margin-left: 5px;float: right" (click)="savePermissions()"><i class="fa fa-floppy-o"></i>Save</button>
                <button type="button" class="btn btn-default" style="margin-top: 10px;margin-bottom: 15px;float:right" (click)="goBack()"><i class="fa fa-arrow-left"></i>Back</button>
            <table id="example2" class="table table-bordered table-hover">
                <thead class="tbl-head">
                    <tr class="tr-grid-header">
                        <th>Permission</th>
                        <th class="style">Create</th>
                        <th class="style">Read</th>
                        <th class="style">Update</th>
                        <th class="style">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let permission of permissions">
                        <td>{{permission.name}}</td>
                        <td class="style"><input type="checkbox" [(ngModel)] = "permission.create" (change)="onPermissionChange(permission,'create')"></td>
                        <td class="style"><input type="checkbox" [(ngModel)] = 'permission.read' (change)="onPermissionChange(permission,'read')"></td>
                        <td class="style"><input type="checkbox" [(ngModel)] = 'permission.update' (change)="onPermissionChange(permission,'update')"></td>
                        <td class="style"><input type="checkbox" [(ngModel)] = 'permission.delete' (change)="onPermissionChange(permission,'delete')"></td>
                    </tr>
                    <tr>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>